.boxed {
    position: relative;
    margin: 10px;
    border: 1px solid $gray;
    border-radius: 3px;
    background-color: $white;
}

// use when we want the component to be exactly 100% height of the screen with inner scroll if necessary
.boxed-h100 {
    height: calc(100vh - 112px);

    > .container {
        height: 100%;
    }
}

// use when we want to have at least 100% height component with scroll outside the component
.boxed-minh100 {
    height: auto;
    min-height: calc(100vh - 111px);
}

.boxed-small-padding {
    .container {
        padding: 10px;
    }
}

.boxed-no-padding {
    .container {
        padding: 0px;
    }
}
