@import "modules/variables";

table {
    width: 100%;
    border-collapse: collapse;
    thead {
        border-bottom: solid 1px;
    }
    th {
        text-align: center;
    }
    tr {
        border: none;
        td + td:nth-of-type(2),
        td + td:nth-of-type(4),
        td + td:nth-of-type(5),
        th + th {
            border-left: solid 1px;
        }
    }
}

.table-colored {
    tbody {
            td:nth-of-type(1),
            td:nth-of-type(4) {
            background-color: $gray-light;
        }
    }
}

.node {
    // display: inline-block;
    height: 42px;
    width:120px;
    text-align: center;
    line-height: 42px;
    // vertical-align: middle;
    border: 1px solid;
    border-radius: 5px;

    &.yellow {
        background-color: $yellow-light;
    }

    &.red {
        background-color: $red-light;
    }

    &.green {
        background-color: $green-light;
    }

    &.blue {
        background-color: $blue-light;
    }
}

.node-prefix-it::before {
    content: "IT";
    height: 20px;
    // width:10px;
    border: 1px solid;
    border-radius: 2px;
    font-size: smaller;
    background-color: $yellow-light;
    align-self: center;
}

.node-prefix {
    height: 20px;
    width: 7px;
    border: 1px solid;
    border-radius: 2px;
    font-size: smaller;
    padding-left: 7px;
    &.yellow {
        background-color: $yellow-light;
    }
}

.node-postfix {
    height: 20px;
    width: 7px;
    border: 1px solid;
    border-radius: 2px;
    font-size: smaller;
    padding-left: 7px;
    &.yellow {
        background-color: $yellow-light;
    }
}

td.content-centered {
    text-align: center;
}
