// -----------------------
//	Variables
// -----------------------

// Extedo layout colors
$black:			#444; // text color
$white:			#fff;

$gray:			#d5d5d5;
$gray-text:		#999999;
$gray-dark:		#616468;
$gray-light:	#f2f2f2;

$yellow:		#fac217;
$yellow-dark:   #ff7a29;
$yellow-light:  #ffebad;

$blue:			#219dd8;
$blue-dark:		#067fcb;
$blue-darker:   #0670b2;
$blue-light:	#dcf3ff;
$blue-lighter:  #f7fbff;

$red:			#ed5565;
$red-light:     #fbdada;

$green:			#4db514;
$green-light:   #dbf0d0;

$brown:         #85754a;

// old colors
$blue-chart:            #f1ffff;
$yellow-chart:          #ece789;
$yellow-light-chart:    #faf0e7;
$sapphire-chart:        #e5e6fa;
$emerald-chart:         #81fed4;
$purple-chart:          #fc6ab3;

// images path
$img-path: "../../images/";

// fonts path
$font-path: '../../fonts/';
